<div>
  <%= for row <- 1..@playing_field.dimensions.y do %>
  <div class="flex">
    <%= for cell <- 1..@playing_field.dimensions.x do %>
      <% color = get_cell_color(@playing_field, {row, cell}) %>
      <div class="w-4 h-4" style="background-color: {color};"></div>
    <% end %>
  </div>
<% end %>
</div>