<.flash_group flash={@flash} />
<div class="lt-gradient flex items-center justify-center">
    <.header class="text-center">
        What is Logatron Scapes Exchange?
        <:subtitle>Explore the world of scapes</:subtitle>
    </.header>
</div>

