      <div class="w-4 h-4 border rounded {get_cell_color(pos, @lives)}">
      <%!-- <% 
      pos = Schema.Vector.new(row, col, @field.depth)
      color = get_cell_color(pos, @lives) 
      %>

        <% get_cell_text(pos, @lives) %>      
      </div> --%>
      </div>
