<div class="flex flex-col px-4 py-3 font-mono text-sm border rounded border-color-red">
  <div class="py-0">
    <div class="flex flex-row items-center justify-between">
    <.live_component
      module={LogatronWeb.ViewFieldsLive.FieldGrid} 
      current_user={@current_user}
      id={@current_user.id <> "field-grid" <> "#{@field.depth}"}
      field={@field}
      mng_farm_id={@mng_farm_id}
      cell_states={@cell_states}
    />    
    </div> 
  </div>
</div>