<!DOCTYPE html> <%!-- <html lang="en" class="[scrollbar-gutter:stable]"> --%>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title suffix=" · StreamScapes">
      <%= assigns[:page_title] || "Logatron" %>
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
    <meta
      name="description"
      content="Logatron is a distributed system that allows developers, data scientists and 
    creators of Artifical Intelligence and Machine Learning Systems to tap into streams of fake but realistic fact data."
    />
    <meta
      name="keywords"
      content="stream, streams, Artificial Intelligence, mock data, 
      events, data, facts, fake data,
      simulated data, realistic data,
      AI, Machine Learning, fact, logatron, discomco"
    />
  </head>
  <body class="bg-ltDark-dark antialiased">
    <%= @inner_content %>
  </body>
</html>
